@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lobster&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body{
    font-family: "DM Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}
.container{
    width: 1150px;
    margin: 0 auto;
    max-width: 90%;
}

.navbar{
    display: flex;
    align-items: center;
justify-content: space-between;
    gap: 30px;
background-color: #fff;
padding: 20px 40px;
width: 100%;
position: relative;
position: fixed;
z-index: 999;

}
.nav-right{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 40px;

}
.nav-text #navigation{
    display: flex;
    gap: 40px;
}
.nav-left{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 40px;
    width: 100%;
}
.nav-left a:nth-of-type(1){
    color: #F04506;
    font-family: "Quicksand",sans-serif;
width: 100%;
    font-size: 16px;
}
.nav-left a:nth-of-type(2){
    border: none;
    padding: 13px 37px;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
 
    font-family: "Quicksand",sans-serif;
    box-shadow: 0px 17px 27px rgba(240,69,6,0.27);
    z-index: 1;
    display: inline-block;
    background-size: 200%;
    transition: 0.6s;
    background-image: linear-gradient(to left, #F04506, #d83e06, #F04506);
    background-position: right;
}
.navbar .nav-right .nav-text ul>li{
    display: inline-block;
    position: relative;
    margin: 0 19px;
}
.navbar .nav-right .nav-text ul li a{
    color: #5E5E5E;
    font-weight: 500;
   
    display: block;
    font-size: 16px;
    position: relative;
}
#navigation .submenu {
    position: absolute;
    width: 170px;
    background: #F04506;
    left: 0;
    top:50px;
    visibility: hidden;
    opacity: 0;
    color: white;
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.05);
    padding: 17px 0;
    transition: all .3s ease-out 0s;
    z-index: 3;
}
#navigation .submenu li a{
    color: white;
    padding: 10px;
}
.nav-text #navigation li:hover  .submenu{
    opacity: 1;
    visibility:visible;

}
.nav-text #navigation  .submenu li a:hover {
 padding: 5px;
}

.navbar .nav-right .nav-text ul  li a::after{
    display: block;
    content: "";
    width: 100%;
top: 15px;
    right: 5px;
  
    left: -5px;
    height: 3px;
    position: relative;
      background:#d83e06;
    transition: all .4s ease-in-out 0s;
    transform: scale(0);
}
.navbar .nav-right .nav-text ul li a:hover::after{
    transform: scale(1);  
}

/* HERO */

.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(https://preview.colorlib.com/theme/cakes/assets/img/hero/h1_hero1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    z-index: 1;
    
}
.hero-main{
    position: absolute;
    top: 200px;
}
.hero-title h2{
    padding: 30px;
    font-family: "Lobster", cursive;
    color: rgba(240,69,6,0.06);
    font-size: 160px;
    font-weight: 400;
}
.hero-text{
    width: 60%;
    position: relative;

}

.hero-left{
    width: 40%;
}
.hero-text h1{
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 24px;
    font-family: "Quicksand", sans-serif;
}
.background{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
position: relative;
}
.hero-text p{
    margin-bottom: 40px;
    color: #1A1A1A;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 500;
    
}
.hero-title{
    position: absolute;
    top: -109px;
    left: -69px;

    animation: beat 1s infinite;
}



    @keyframes beat {
      0% {
        transform: scale(1) rotate(0deg);
      }
      50% {
        transform: scale(1.1) rotate(0deg);
      }
      100% {
        transform: scale(1) rotate(0deg);
      }
    }
.button a{
    font-family: "DM Sans",sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 15px 45px;
    border: none;
    text-transform: capitalize;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
    font-family: "Quicksand",sans-serif;
    box-shadow: 0px 17px 27px rgba(240,69,6,0.27);
    z-index: 1;
    display: inline-block;
    background-image: linear-gradient(to left, #F04506, #d83e06, #F04506);
}
.cake{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}
/* Swiper */
.swipers{
    padding: 110px;
}
.swipers .swiper-button{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}
.swipers .swiper-button span{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 22px;
    font-family: "DM Sans", sans-serif;
    display: inline-block;
    color: #F04506;
    letter-spacing: 0.2em;
}
.swipers .swiper-button  p{
    font-size: 44px;
    display: block;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 30px;
font-family: sans-serif;
}
.items{
    width: 100%;
    background: #FFF5F2;
    padding: 20px;
    border-radius: 0 0 60px 0;
}
.item-top img{
    overflow: hidden;
display: block;
    width: 100%;
    border-radius: 0 0 60px 0;
    transform: scale(1);
}
.item-top img:hover{
    display: inline-block;
    transform: scale(0.8);
    transition: all .4s ease-out 0s;
}
.items {
    text-align: center;
}
.item-bottom h4 a{
   color: black;
        font-size: 22px;
        font-weight: 700;
        padding-right: 3px;
        line-height: 1.3;
     
}
.item-bottom p{
    margin: 20px 0;
}
.item-bottom .btn{
    font-family: "DM Sans",sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 15px 45px;
    border: none;
    text-transform: capitalize;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
    font-family: "Quicksand",sans-serif;
    box-shadow: 0px 17px 27px rgba(240,69,6,0.27);
    z-index: 1;
    display: inline-block;
    background-image: linear-gradient(to left, #F04506, #d83e06, #F04506);

}
.story{
    display: flex;
    align-items: center;
    justify-content:center;
}
.story-right span{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 22px;
    font-family: "DM Sans", sans-serif;
    display: inline-block;
    color: #F04506;
    letter-spacing: 0.2em;
}
.story-right h2{
    font-size: 44px;
    display: block;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 30px;
}
.story-right p{
    font-family: "DM Sans", sans-serif;
    color: #000;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
}
.story-right a{
    border: none;
    padding: 13px 37px;
    text-transform: capitalize;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: "Quicksand", sans-serif;
    box-shadow: 0px 17px 27px rgba(240,69,6,0.27);
    z-index: 1;
    display: inline-block;
    background-image: linear-gradient(to left, #F04506, #d83e06, #F04506);
   
}
.features-text{
    text-align: center;
    padding: 50px;
}
.features-text span{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 22px;
    font-family: "DM Sans", sans-serif;
    display: inline-block;
    color: #F04506;
    letter-spacing: 0.2em;
}
.features-text h2{
    font-size: 44px;
    display: block;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 30px;
}
.features{
    position: relative;
    padding: 110px 0;
    background-color: #FFF5F2;
    z-index: 1;
}
.cards{

  display: flex;
  align-items: center;
  justify-content:center;
  gap: 20px;
  text-align: center;
}
.card-img img{
  
    text-align: center;
    box-shadow: 0px 25px 40px rgba(240,69,6,0.08);
    border-radius: 50%;
    margin-bottom: 35px;
}
.card-text h5 a{
    font-weight: 600;
    font-size: 18px;
    color: #001f38;
    line-height: 1.4;
    margin-bottom: 20px;
}
.card-text p{
    font-family: "DM Sans", sans-serif;
    color: #000;
    font-size: 16px;
    line-height: 30px;
  padding: 30px;
    font-weight: normal;
}
.card{
    padding: 30px 0;
}
.card:hover {
    transition: all .4s ease-out 0s;
    background-color: #fff;
    box-shadow: 0px 10px 30px 0px rgba(133,66,189,0.1);
}
.card:hover h5 a {
color: red;
}
.cake-img {
    position: absolute;
    right: 0;
    top: -100px;
    z-index: -1;
}
.slick-menu{
    background-color: #5E5E5E;
    display: flex;
    align-items: center;
    justify-content:end;
display: none;
z-index: 9999;
position: fixed;
top: 70px;
left: 40px;
}
.slick-menu span{
    background-color: #1A1A1A;
    padding: 10px;
    color: #fff;
}
.slick-menu span i{
    padding: 5px;
}
@media (max-width: 575px) {

    .slick-menu{
        display: flex;
    }
    .navbar .nav-right .nav-text{
        display: none;
    }
    .nav-left{
        display: none;
    }
    .cake{
        display: none;
    }
    .swiper-button{
        text-align: center;
    }
    .story{display: flex;
    align-items: center;
    justify-content:center;
      flex-direction: column;
    }
    .story .story-left{
        width: 100%;
        text-align: center;
    }
    .story .story-right{
        width: 100%;
        text-align: center;
    }
    .cards{
        display: flex;
        align-items: center;
        justify-content:center;
        flex-direction: column;
    }
    .cake{
        display: none;
    }
   
  }
  

  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .slick-menu{
        display: flex;
    }
    .navbar .nav-right .nav-text{
        display: none;
    }
    .nav-left{
        display: none;
    }
   
    .swiper-button{
        text-align: center;
    }
    .story{display: flex;
    align-items: center;
    justify-content:center;
      flex-direction: column;
    }
    .story .story-left{
        width: 100%;
        text-align: center;
    }
    .story .story-right{
        width: 100%;
        text-align: center;
    }
    .cake{
        display: none;
    }
    .cards{
        display: flex;
        align-items: center;
        justify-content:center;
        flex-direction: column;
    }
   
  
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .slick-menu{
        display: flex;
    }
    .navbar .nav-right .nav-text{
        display: none;
    }
    .nav-left{
        display: none;
    }
   
    .swiper-button{
        text-align: center;
    }
    .story{display: flex;
    align-items: center;
    justify-content:center;
      flex-direction: column;
    }
    .story .story-left{
        width: 100%;
        text-align: center;
    }
    .story .story-right{
        width: 100%;
        text-align: center;
    }
    .cards{
     
      
    }
    .cake{
        display: none;
    }
   
  
  }